#carousel img {
  width: 100%;
}

aside button {
  padding: 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: -20em;
  border: none;
}

.button-right {
  float: right;
}

.content h2 {
  font-size: 2em;
  padding: .5em;
}

.content article {
  background-color: black;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

.content h3 {
  text-align: left;
  text-indent: 2em;
  color: white;
  font-family: serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.content a {
  color: white;
  display: block;
  margin: auto;
  text-align: center;
}

.content img {
  max-width: 90%;
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.content li {
  color: white;
}
